body {
	background: #f9e933;
	font-family: 'Droid', sans-serif;
	font-size: 100%;
}


header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	padding: 25px 0 25px 0;
	background: white;
	overflow: auto;
	border-bottom: 1px solid darkslategray;
}

/* Main Logo */
h1 {
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-size: 3em;
	color: #b33;
	float: left;
	width: 570px;
}

/* Footer Headings */
h5 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.25em;
	margin-bottom: 20px;
}


header nav {
	float: right;
	width: 285px;
}

a {
	color: #b33;
	text-decoration: none;
	font-weight: bold;
}

main {
	background: #fff;
	border-radius: 0 5px 5px 5px;
	padding: 40px;
}

.tabs a span {
	border-radius: 5px 5px 0 0;
	display: inline-block;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a .active {
	background: #eee;
}

main .content {
	padding: 30px 10px 30px 10px;
	border-radius: 0 5px 5px 5px;
	background: #eee;
}

footer .contact {
	float: left;
	width: 570px;
}

footer .sitemap {
	float: right;
	width: 285px;
}