body {
	background: #f9e933;
	font-family: 'Droid', sans-serif;
	font-size: 100%;
}


header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
	padding: 25px 0 25px 0;
	background: white;
	overflow: auto;
	border-bottom: 1px solid darkslategray;
}

/* Main Logo */
h1 {
	font-family: 'Ubuntu', sans-serif;
	font-style: italic;
	font-size: 3em;
	color: #b33;
	float: left;
	width: 570px;

}


h4 {
	font-size: small;
}




header nav {
	float: right;
	width: 285px;
}



main {
	background: white;
	overflow: auto;
	/*border-: 1px solid darkslategray;*/
}

.content li:nth-child(even) {
	background: lavender;
}

.content li:nth-child(odd) {
	bold: text;
	background: gainsboro;
}

.tabs a span {
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active {
	background: #eee;
}

footer .contact {
	float: left;
	width: 570px;
}

footer .sitemap {
	float: right;
	width: 285px;
}